<%= form_for @price, :html => { :class => "form-horizontal price" } do |f| %>

    <% if @price.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @price.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product_id, :class => 'form-control' %>
    </div>
    <%= error_span(@price[:product_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@price[:price]) %>
  </div>
  <div class="control-group">
    <%= f.label :price_new, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price_new, :class => 'form-control' %>
    </div>
    <%= error_span(@price[:price_new]) %>
  </div>
  <div class="control-group">
    <%= f.label :price_used, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price_used, :class => 'form-control' %>
    </div>
    <%= error_span(@price[:price_used]) %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            prices_path, :class => 'btn btn-default' %>

<% end %>
